const (
	AppHost = "0.0.0.0"
	AppPort = "7300"
	AppMode = "debug"

	// PostgreSQL
	PostgresDockerName = ""
	PostgresPort     = ""
	PostgresUser     = ""
	PostgresDB       = ""
	PostgresPassword = ""
)
